html {
  scroll-behavior: smooth;
  scroll-padding-top: 70px;
}

#map {
  width: 100%;
  height: 600px;
}

/* Small cluster */
.marker-cluster-small div {
  background-color: #a6dbf7;
}

.marker-cluster-small {
  background-color: rgba(135, 206, 250, 0.5);
}

/* Medium cluster */
.marker-cluster-medium div {
  background-color: #73aeed;
}

.marker-cluster-medium {
  background-color: rgba(70, 142, 220, 0.5);
}

/* Large cluster */
.marker-cluster-large div {
  background-color: #3a5ccf;
}

.marker-cluster-large {
  background-color: rgba(58, 92, 207, 0.6);
}

/* Legend styles */
.info.legend {
  background-color: white;
  width: 180px; /* Adjust as needed */
  line-height: 1.5;
}

.legend-icon {
  width: 15px;
  height: auto;
  margin-right: 8px;
}

.legend-swatch {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%; /* This makes it a circle */
  margin-right: 8px;
  vertical-align: middle; /* Aligns the circle nicely with the text */
}
